/*通用样式*/
*{margin:0;padding:0;word-wrap:break-word;}
body{font-size:12px;font-family:Arial;color:#333; background:#f3f7fb url(bg27.png) repeat-y 172px 0px;}
html, body, h1, h2, h3, h4, ul, li, dl,input{ margin:0px;padding:0px;list-style-type:none }
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none;} 
div,ul,li,p,form{padding: 0px; margin: 0px;list-style-type: none;}
em{font-style: normal;font-weight: normal;}
table {padding: 0px; margin: 0px;list-style-type: none;}
dt,dl,dd {padding: 0px; margin: 0px;list-style-type: none;}
form{margin:0px;padding:0px;}
tr {padding: 0px; margin: 0px;list-style-type: none;}
h3,h4{padding:0px; font-size:14px; font-weight:bold;}
.clear {clear:both;height:0px; overflow:hidden;}
.blank10{height:10px;overflow:hidden;}
.hide{ display:none}

/*头部*/
#ajaxmsg{text-align:center;background-color: #f1f1f1;color:#000;font-size:12px;line-height:16px;position:absolute; z-index:1; left: 170px; top:1px;display:none;}

/*左边滚动条*/
.Scroller-Container {
  position: absolute;
  top: 0px; left: 0px;
  margin:0px;padding:0px;
}
.Scrollbar-Track {
  width: 1px; height: 568px;
  position: absolute; background:#d6dde1;
}
.Scrollbar-Handle {
  position: absolute;
  width: 6px; height:82px;
  background:url(bg15.png) no-repeat;margin:0px 0px 0px -2px;
}
#Scrollbar-Container {
  position: absolute;
  top: 55px; left: 170px;
}

#Container {
  position: absolute;
  top: 55px; left: 0px;
  width: 170px; background:url(bg29.png) repeat-y; 
 
}
#News, #About, #Extra { 
  position: absolute;
  width: 170px;
  display: none;
  height:100%;
}
#News {display: block;}
/*左边滚动条结束*/


.menubox{ height:55px; overflow:hidden;background:#474E5E}
.menubox .menuleft{width:150px; padding:5px 20px 0px 0px; float:left;color:#f2fbfe;text-align:center;}
.menubox .menuleft span{ font-family:simsun;}

.menubox .menucenter{float:left;width:520px;}
.menubox .menucenter ul li{float:left;width:78px; height:55px; line-height:55px;text-align:center;margin-right:5px}
.menubox .menucenter ul li a{font-size:18px;color:#fff; font-weight:300;
font-family:"微软雅黑"}
.menubox .menucenter ul li.curr{background:#00284C;  }
.menubox .menucenter ul li.curr a{color:#fff;font-weight:bold;}
.menubox .menucenter ul li a:hover{ text-decoration:none}
.menubox .menuright{float:right; padding-top:15px;padding-right:20px;}
.menubox .menuright ul li{ float:left;}
.menubox .menuright ul li a{width:27px; text-align:center; padding-top:3px; height:26px;margin-left:8px; position:relative; float:left}
.menubox .menuright ul li a:hover{ background:url(bg28.png) no-repeat;}

.menubox .menucenter2{float:left;color:#fff;height:35px; width:400px;margin-top:20px;border:0px solid red;}


.backmain .left{width:170px; background:url(bg29.png) repeat-y;}
.backmain .left .navigationbg{ height:60px; background:url(bg16.png) no-repeat 50% 48%; display:none}
.backmain .left .navigation .navtitle{ height:30px; line-height:30px; background:#E4F1FB;font-size:14px; cursor:pointer; padding-left:15px;color:#4a5c66;border-bottom:1px solid #cfd7dc;border-top:1px solid #cfd7dc; position:relative;margin-top:-1px; font-family:"微软雅黑";_height:20px;_padding-top:10px;}
.backmain .left .navigation .navtitle img{margin:0px 5px 0px 0px;}
.backmain .left ul{ padding:5px}
.backmain .left ul li{ height:24px; line-height:24px; padding:0px 5px 0px 20px;color:#666;border-bottom:#ccc dotted 1px;}
.backmain .left ul li span a{ float:right; padding-right:50px;background:url(bg18.png) no-repeat;width:18px; height:17px;margin-top:3px;}
.backmain .left ul li span a:hover{ background:url(bg19.png) no-repeat; text-decoration:none}
.backmain .left ul li.noborder{border:0px;}
.backmain .left ul li a{color:#666}
.backmain .left ul .yincbtn a{width:200px; height:6px; background:url(bg20.png) no-repeat; display:block}
.backmain .left ul .yincbtn a:hover{ text-decoration:none;background:url(bg21.png) no-repeat;}



.backmain .right{ float:right}




.footer{ height:28px; line-height:28x; background:#474E5E; padding-top:5px;color:#fff;}
.footer .left{width:175px; float:left; padding-left:30px}
.footer .left a{color:#fff;}
.footer .center{ float:left}
.footer .center a{color:#fff; padding:0px 5px}
.footer .right{ float:right; padding-right:15px;color:#333;font-weight:bold;}
.footer .right span{ position:absolute;color:#fff;margin:-2px}
