<!DOCTYPE html>
<html>
<head> 
<title>我的购物车--{$GetSiteTitle}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">
<link href="../images/style.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" type="text/javascript"></script>
<style>
.lmbg .lmbgtit{ background:url({$GetSiteUrl}3g/images/tit07.png) no-repeat 50% 50%;}
</style>

</head>
<body>

{LB_3G通用头部通用}
<div class="gwc_bg"><a href='/3g/shop/shoppingcart.asp'><script src="{$GetInstallDir}3g/shop/CartNum.asp"></script></a></div>

<div class="MiddleCont">

	<div class="cartbox">
	 <div class="logintips">{$ShowLoginTips}</div>
	 <div style="background:#fff"><img src="/shop/images/cartnav-cart.gif"></div>
	 <div style="height:1px; background:#fff;border-top:1px solid #ccc"></div>
	 <div class="ShoppingCart" style="padding:10px 0px; line-height:24px">{$ShowShoppingCart}</div>
	</div>

</div>



</div>

<div class="footbig"><div class="foot"><a href="../index.asp" onClick="history.back()">返回首页</a> <a href="../channel.asp?id=5">返回商城首页</a></div></div>


</body>
</html>