<!DOCTYPE html>
<html>
<head> 
<title>{$GetGQTitle}-{$GetClassName}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">
<link href="{$GetSiteUrl}3g/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetSiteUrl}ks_inc/jquery.js"></script>
<SCRIPT language=JavaScript type=text/JavaScript> 
function showimg(src){	window.open(src);}
</SCRIPT>
<style>
.lmbg .lmbgtit{ background:url({$GetSiteUrl}3g/images/tit08.png) no-repeat 50% 50%;}
</style>

</head>

<body>
{LB_3G通用头部通用}
<div class="location">{$Navigation}</div>
<div class="MiddleCont">
   <div class="content" style="padding:15px; line-height:24px;">
	{=GetSupplyPhoto(288,245)}
	<div class="hrbg"></div>
	标题：{$GetGQTitle}<br/>
	交易类别：{$GetTransType}<br/>
	浏览：{$GetHits}次<br/>
	价格说明： <span>{$GetPrice}</span> <br/>
	刊登时间：{$GetAddDate}<br/>
	公司名称： {$GetCompanyName}<br/>
	公司网址： {$GetHomePage}<br/>
	 <!--设置有权限才可以查看联系方式-->
	 [KS_Charge][/KS_Charge]
	 <!------>
	<div class="hrbg"></div>
	<div class="newscontent">
	<strong>详细介绍：</strong><br/>
	  {$GetGQContent}
	</div>
   </div>
	  
</div>

<div class="footbig"><div class="foot"><a href="javascript:;" onClick="history.back()">返回前页</a> <a href="channel.asp?id={$GetChannelID}">返回{$GetChannelName}</a></div></div>
</body>
</html>
