<!DOCTYPE html>
<html>
<head> 
<title>{$GetSiteTitle}-{$GuestTitle}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="keywords" content="开源CMS ASPCMS 论坛 社区 论坛程序 asp论坛系统 KesionCMS 站长论坛" />
<meta name="description" content="KesionCMS 万能建站管理系统官方服务技术交流社区 powered by kesion.com" />
<meta name="author" content="kesion.com"/>
<link href="{$GetSiteUrl}3g/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script src="{$GetInstallDir}ks_inc/common.js"></script>
<script src="{$GetInstallDir}{$GetClubInstallDir}/images/club.js"></script>
<style type="text/css">
	 .postvote{border:1px dashed #999;background:#f9f9f9;}
	 .postvote input.textbox{border:1px solid #cccccc;height:23px;line-height:23px;color:#666}
	</style>
<script type="text/javascript">
	function checkform()
	{ 
	 if (jQuery("#SelectCategoryId").val()==1){
	  if (myform.CategoryId.value=='0'){
	   alert('主题分类必须选择!');
	   return false;
	  }
	 }
	  if (myform.Subject.value==""){
			alert("主题一定要填写！");
			myform.Subject.focus();
			return false;
		}
		if (myform.boardid.value==""){ alert("请选择要发布的版面!");return false;}

		if ($("#Content").val()=='')	{ alert("主题内容不能留空！"); $("#Content").focus();return false;}
		{$CheckCode}
		 return true;
	}
</script>
<script type="text/javascript"> 
//===========================点击展开关闭效果====================================
function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
var openTip = oOpenTip || "";
var shutTip = oShutTip || "";
if(targetObj.style.display!="none"){
   if(shutAble) return;
   targetObj.style.display="none";
   if(openTip && shutTip){
    sourceObj.innerHTML = shutTip; 
   }
} else {
   targetObj.style.display="block";
   if(openTip && shutTip){
    sourceObj.innerHTML = openTip; 
   }
}
}
</script>

</head>
<body>
<div class="navpositionbig">
	<div class="navposition">
		<div class="logonav"><div class="fl"><img src="{$GetSiteUrl}3g/images/logo.png" /></div><div class="fr">{$GetUserLogin}</div></div>
		<div class="header">
			<ul>
				<li><a href="{$GetInstallDir}3g"><img src="{$GetSiteUrl}3g/images/001.png" /><br />首页</a></li>
				<li><a href="user.asp"><img src="{$GetSiteUrl}3g/images/05.png" /><br />会员</a></li>
				<li><a href="weibo.asp"><img src="{$GetSiteUrl}3g/images/003.png" /><br />微博</a></li>
				<li class="curr"><a href="bbs.asp"><img src="{$GetSiteUrl}3g/images/007.png" /><br />论坛</a></li>
				<li class="more"><a href="#" onClick="openShutManager(this,'box2013')" ><img src="{$GetSiteUrl}3g/images/06.png" /><br />更多</a></li>
			</ul>
		</div>
	</div>
</div>		
<div id="box2013" style="display:none">
	<div class="topbg"></div>
	<ul>
		{$GetModelList}
	</ul>
	<div class="clear"></div>
</div>
<div class="location" style="text-align:center;"> 发表帖子</div>
<div class="MiddleCont postvote">

    {$WriteGuestForm}
</div>

<script>
 $(document).ready(function(){
  $("select").each(function(){
    if ($(this).attr("modified")!="false")  loadSelect($(this)[0]);
  });
 });
</script>
			
<div class="footbig"><div class="foot"><a href="bbs.asp?boardid={$BID}">返回列表</a> <a href="index.asp">返回主页</a></div></div>
</body>
</html>