<!DOCTYPE html>
<html>
<head> 
<title>{$GetClassName}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">
<link href="{$GetSiteUrl}3g/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetSiteUrl}ks_inc/jquery.js"></script>
</head>

<body>
{LB_3G新闻头部通用}
<div class="location">{$Navigation}</div>
<div class="LMlist">
	<div class="box02" style="border-top:1px solid #fff">
		<ul>
			{@loop.begin}
					
				<li><span style="float:right;color:#888">{@item.getdate}</span>[<a href="{@item.classurl}" class="a_cor">{@item.classname}</a>]<a href="{@item.linkurl}">{@item.title} </a></li>
					
			{@loop.end}
		</ul>
		<div style="clear: both"></div>
		{@list.showpage}
   </div>
	  
</div>

<div class="footbig"><div class="foot"><a href="javascript:;" onClick="history.back()">返回前页</a> <a href="channel.asp?id={$GetChannelID}">返回{$GetChannelName}</a></div></div>
</body>
</html>
